<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} #CheetahFacts</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<link rel="shortcut icon" href="/favicon.ico" />
<link rel="author" href="https://plus.google.com/u/0/+DouglasMuth/posts" />


<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} #CheetahFacts" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />

{% if page.description %}
<meta property="og:description" content="{{ page.description | strip_newlines }}" />
{% else %}
<meta property="og:description" content="{{ page.content | strip_html | truncatewords:30 }}" />
{% endif %}

{% if page.url == "/index.html" %}
<meta property="og:image" content="{{site.url}}/assets/img/title-cheetah.jpg" />
{% else %}

{% if page.image %}
<meta property="og:image" content="{{site.url}}/assets/img/{{page.image}}" />
{% endif %}

{% endif %}


<meta name="twitter:url" content="{{site.url}}{{page.url}}" />

{% if page.description %}
<meta name="twitter:description" content="{{ page.description | strip_newlines }}" />
{% else %}
<meta name="twitter:description" content="{{ page.content | strip_html | truncatewords:30 }}" />
{% endif %}

<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} #CheetahFacts" />
{% if page.url == "/index.html" %}
<meta name="twitter:image" content="{{site.url}}/assets/img/title-cheetah.jpg" />

{% else %}

{% if page.image %}
<meta property="twitter:image" content="{{site.url}}/assets/img/{{page.image}}" />
{% endif %}

{% endif %}




</head>
