/**
* Social media buttons.
*/
ul.like-buttons {
/*
*/
	float: left;
	list-style: none;
	margin: 0px 0 20px 0;
	padding: 0;
	width: 100%;
}

ul.like-buttons li {
    display: block;
    float: left;
    margin-right: 10px;
	height: 25px;
}

li.g-plus-one {
	margin-top: 3px; 
	width: 100px;
}

li.fb-like {
	width: 200px;
}

li.twitter-like {
    margin-top: 4px;
	width: 100px;
}


